
<br>
<script>
		$(function() {
		
			$("#slideshow > div:gt(0)").hide();
	
			setInterval(function() { 
			  $('#slideshow > div:first')
			    .fadeOut(1000)
			    .next()
			    .fadeIn(1000)
			    .end()
			    .appendTo('#slideshow');
			},  3000);
			
		});
	</script>


<div id= "top-container">
	<div id="left-panel">
		<p id = "first-mission" >We build websites with measurable results.</p>
		<p id = "second-mission" >Our focus is to deliver outstanding service in the areas of web design and development, graphics design and search engine optimization (SEO). </p>
	</div>
	<div class = "slideshow-container">
		<div id="slideshow">
		  
		   <div>
		     <%= image_tag('slideshow/e-commerce.jpg', :width => 590, :height => 260) %>
		   </div>
		   <div>
		     <%= image_tag('slideshow/seo.jpg', :width => 590, :height => 260) %>
		   </div>
		   
		</div>
	</div>
</div>

<div class="page-header">
  <p >Our Services</p>
</div>

<div class="pack-desc-container", id = "pack-desc">
	<div class = "left-div">
		<div class = "title">
			Web Development Packages
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">Small Business Pack</li>
			<li class = "leaf">Mid-Sized Company Pack</li>
			<li class = "leaf">Growing Company Pack</li>
			<li class = "leaf">E-Commerce Pack</li>
		  </ul>
		</div>
	</div>
	<div class = "middle-div">
		<div class = "title">
			Graphics Design Packages
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">Logo Design Packages</li>
			<li class = "leaf">Business Card Design Packages</li>
			<li class = "leaf"> Banner and Poster Design:</li>
		  </ul>
		</div>
	</div>
	<div class = "right-div">
		<div class = "title">
			Search Engine Optimization
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">Integration of Keywords</li>
			<li class = "leaf">Search Engine Optimization Guidelines</li>
			<li class = "leaf">Search Engine Primer</li>
		  </ul>
		</div>
	</div>
</div>
	
