<div class = "page-header">
	<p >LenWebs Website Development Process </p>
</div>
<div class = "process-summery">
	<p>
		Our iterative website development process ensures that you have input at every step — and the finished product will be beyond your highest expectations. As your business continues to evolve, we help put a plan in place to measure your success and challenges to ensure your website, and your online presence it general, keeps up with you!
	</p>
	<%= image_tag('process.PNG', :class => 'process-image') %>
</div>
<div class = "page-sub-header">
	<p >1.	Website Objective discovery:</p>
</div>
<div class = "text-div">
	<p>
		Objectives are statements that describe what the project will accomplish, or the business value the project will achieve. Success of a software project largely depends on a clear and focused business objective. In this phase, we ask lot of questions to the clients to discover the concrete expectation of the project. We also dig deep to understand the websites’s target users and competitors. This process helps both development team and client to shape the future plan for the website.
	</p>
</div>
<div class = "page-sub-header">
	<p >2.	Website Structure & Wire Frame:</p>
</div>
<div class = "text-div">
	<p>
		This is where the hands-on web design and development begins. Developing structure is all about determining how to organize content so to maximize usability and allow site users to find information quickly and easily. The goal is to have a constant logical structure across all pages. We create a well-devised plan that will lay the foundation for everything to come, including visual design.
	</p>
</div>
<div class = "page-sub-header">
	<p >3.	Website Design:</p>
</div>
<div class = "text-div">
	<p>
		In this step, the visual face of the website design is realized. All creative design and copy elements are created based on the information and goals established in the Website Project Discovery Research and Website Structure & Wire Frame phases. The website wireframe design is then approved, refined and tested.
	</p>
</div>
<div class = "page-sub-header">
	<p >4.	Website Build & Test:</p>
</div>
<div class = "text-div">
	<p>
		Here, we put all the pieces together and make them work. Production merges content, web design and HTML/Programming into the completed site. In this step, we take care of the behind-the-screen technical implementation (database, server environment, etc). This is also the time when we conduct website quality assurance (QA) testing on the website; the site is tested against the your requirements. We test for HTML fluidity, run QA, identify bugs, prioritize the fixes, and fix them. We test for usability best practices and collect user feedback, and use this to iron out any kinks.
	</p>
</div>
<div class = "page-sub-header">
	<p >5.	Website Launch:</p>
</div>
<div class = "text-div">
	<p>
		Once the site has been tested and approved, we prepare for launch. Staff training takes place in this phase as well. We train your IT department or staff personal who will be in charge of managing content in all aspects of updating and maintain the new site.
	</p>
</div>
<div class = "page-sub-header">
	<p >6.	Website maintenance :</p>
</div>
<div class = "text-div">
	<p>
		Website Maintenance comprises all the activities needed to ensure the operational integrity of a website or intranet. In other words, it is about doing all the things needed to make sure the site runs smoothly and according to plan. Some of the website maintenance activities we prove are as follows:
	</p>
	<ul>
		<li>Upgrading your website from static to dynamic</li>
		<li>Making changes to your website, based on your instructions</li>
		<li>Measuring the success of your website</li>
		<li>Supervising the hosting services of your website</li>
		<li>Updating any announcements or articles</li>
		<li>Replace images i.e. Pictures & graphics</li>
		<li>Adding/Removing pages</li>
		<li>Adding new sections to your website</li>
		<li>Making seasonal changes to your website</li>
		<li>Upgrading the technology used in your website</li>
		<li>Keeping the content of your website up-to-date</li>
		<li>Spotting any error in a site</li>
		<li>Managing communication with website visitors</li>
		<li>Image manipulation and addition</li>
		<li>Newsletter & email list maintenance</li>
		<li>Testing after every edit</li>
	</ul>
</div>
