<div class="page-header">
  <p >Graphics Design Packages Overview</p>
</div>
<div class = "pack-overview-container">
	<div class = "pack-container">
		<div class = "pack-icon">
			<%= image_tag('small_business_pack.png', :height => 100) %>
			<p>Logo Design Pack</p>
			<p class = "price-text">(Cost $99-$250)</p>
		</div>
			<div class = "feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">Website size: 1-10 pages</li>
					<li class = "feature-bullet">Hosting solution</li>
					<li class = "feature-bullet">Custom logo, banner and footer design</li>
					<li class = "feature-bullet">Search engine promotion </li>
					<li class = "feature-bullet">Example pages: About Us, Products/Services, Contact Us,Join Us, News & Resources, Our Clients, Privacy Policy & Disclaimers. </li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/small_business_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>
	<div class = "pack-container">
		<div class = "pack-icon">
			<%= image_tag('growing_company.png', :height => 100) %>
			<p>Business Card Design Pack</p>
			<p class = "price-text">(Start with: $1000)</p>
		</div>
			<div class = "feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">Website size: up to 30 Pages</li>
					<li class = "feature-bullet">Admin panel</li>
					<li class = "feature-bullet">Blog</li>
					<li class = "feature-bullet">Social Media Integration</li>
					<li class = "feature-bullet">Example pages: About Us, Products/Services, Contact Us,Join Us, News & Resources, Our Clients, Privacy Policy & Disclaimers. </li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/mid_sized_company_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>
	<div class = "pack-container">
		<div class = "pack-icon">
			<%= image_tag('mid_sized_company.jpg', :height => 100) %>
			<p>Banner and Poster Design Pack</p>
			<p class = "price-text">(Cost $99-$250)</p>
		</div>
			<div class = "feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">Website size: up to 50 Pages</li>
					<li class = "feature-bullet">User registration</li>
					<li class = "feature-bullet">Company portfolio</li>
					<li class = "feature-bullet">Social media integration</li>
					<li class = "feature-bullet">About Us, Products/Services, Contact Us, Offices,The Engagement Process, Join Us, News & Resources, Our Clients, Privacy Policy & Disclaimers. </li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/growing_company_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>
	<div class = "pack-container">
		<div class = "pack-icon">
			<%= image_tag('e-commerce_site.jpg', :height => 100) %>
			<p>e-Commerce Pack</p>
			<p class = "price-text">(Start with: $1500)</p>
		</div>
			<div class = "feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">Website size: upto 50 pages</li>
					<li class = "feature-bullet">Product Catalog</li>
					<li class = "feature-bullet">Stock management</li>
					<li class = "feature-bullet">Shopping Cart & Checkout</li>
					<li class = "feature-bullet">Online Payment Gateway Integration</li>
					<li class = "feature-bullet">Reporting and Analytics </li>
					<li class = "feature-bullet">Online customer service </li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/e_commerce_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>

</div>
