<div class="page-header">
  <p >Graphics Design Packages Overview</p>
</div>
<div class = "graphics-pack-overview-container">
	<div class = "graphics-pack-container">
		<div class = "pack-icon">
			<%= image_tag('graphics/logo_design.jpg', :height => 110) %>
			<p>Logo Design Pack</p>
			<p class = "price-text">(Cost $99-$250)</p>
		</div>
			<div class = "graphics-feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">General Package: 3 Logo Designs</li>
					<li class = "feature-bullet">Special Package: 5 Logo Designs</li>
					<li class = "feature-bullet">Ultimate Package: 8 Logo Designs</li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/small_business_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>
	<div class = "graphics-pack-container">
		<div class = "pack-icon">
			<%= image_tag('graphics/business_card.jpg', :height => 110) %>
			<p>Business Card Design Pack</p>
			<p class = "price-text">(Cost $99-$250)</p>
		</div>
			<div class = "graphics-feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">General Package: 3 Business Card</li>
					<li class = "feature-bullet">Special Package: 5 Business Card Designs</li>
					<li class = "feature-bullet">Ultimate Package: 8 Business Card Designs</li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/mid_sized_company_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>
	<div class = "graphics-pack-container">
		<div class = "pack-icon">
			<%= image_tag('graphics/banner_design.png', :height => 110) %>
			<p>Banner and Poster Design Pack</p>
			<p class = "price-text">(Cost $99-$250)</p>
		</div>
			<div class = "graphics-feature-container">
				<ul class = "feature-ul">
					<li class = "feature-bullet">General Package: 3 of any of these Designs</li>
					<li class = "feature-bullet">Special Package: 5 of any of these Designs Designs</li>
					<li class = "feature-bullet">Ultimate Package: 8 of any of these Designs</li>
				</ul>	
			</div>
		
			<div class = "goto-details-Button">
				<a href="/growing_company_pack/index">
	  				 <div style="display:inline-block;", class = "myButton">
	       					Go to Details
	   				</div>
				</a>
			
			</div>
		
	</div>

</div>
