// Place all the styles related to the development_process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.process-summery{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}


.text-div{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.process-image{

	text-align: center;
}