<div class = "page-header">
	<p >LeanWebs Release and Payment Policy </p>
</div>
<div class = "payment-process-summery">
<p>
		LeanWebs provides a very flexible payment policy for the clients. We divide the whole project into four milestones. Payments can be made upon completion of a milestone.
</p>
</div>
<div class = "milestone-header">
	<div class = "milestone-image-div">
		<%= image_tag('milestones/milestone1.png', :height=>50)%>
	</div>
	<div class = "milestone-header-text-div">
		<p > Milestone 1: Project Kick-off (25% payment)</p>
	</div>	
</div>
<div class = "milestone-text-div">
	<p>
		<b>Deliverables:</b> Written document consisting of project objective, functional and non-functional requirements, details development plan and timeline of the project.
	</p>
</div>
<div class = "milestone-header">
	<div class = "milestone-image-div">
		<%= image_tag('milestones/milestone2.png', :height=>50)%>
	</div>
	<div class = "milestone-header-text-div">
		<p > Milestone 2: Website structure and design (20% payment)</p>
	</div>	
</div>
<div class = "milestone-text-div">
	<p>
		<b>Deliverables:</b> Details website structure, layout and design mockups will be provided to the client for approval.
	</p>
</div>
<div class = "milestone-header">
	<div class = "milestone-image-div">
		<%= image_tag('milestones/milestone3.png', :height=>50)%>
	</div>
	<div class = "milestone-header-text-div">
		<p > Milestone 3: Basic functionality (30% payment)</p>
	</div>	
</div>
<div class = "milestone-text-div">
	<p>
		<b>Deliverables:</b> Functional website with key features will be provided to the client. This is also a great opportunity to get feedback from the clients. 
	</p>
</div>
<div class = "milestone-header">
	<div class = "milestone-image-div">
		<%= image_tag('milestones/milestone4.png', :height=>50)%>
	</div>
	<div class = "milestone-header-text-div">
		<p > Project Handover (25% payment)</p>
	</div>	
</div>
<div class = "milestone-text-div">
	<p>
		<b>Deliverables:</b> Full functional website will be provided to the client. Functionality will be developed based on the written requirement delivered in Milestone 1. 
	</p>
</div>
